<footer class="footer">
    <div class="footer-content">
        <span>Email: <a href="mailto:frederikhedelund@gmail.com">frederikhedelund@gmail.com</a></span>
        <span>Telefon: <a href="tel:+4553306471">+45 53 30 64 71</a></span>
        <a href="https://www.linkedin.com/in/frederik-hedelund-pedersen-420896256/" target="_blank" rel="noopener noreferrer" class="linkedin-icon" aria-label="LinkedIn">
            <!-- LinkedIn SVG ikon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M4.98 3.5C4.98 4.88 3.87 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1 4.98 2.12 4.98 3.5zM.5 8h4V24h-4V8zM8.5 8h3.64v2.3h.05c.51-.97 1.75-2 3.61-2 3.86 0 4.57 2.54 4.57 5.84V24h-4v-7.8c0-1.86-.03-4.26-2.6-4.26-2.6 0-3 2.03-3 4.12V24h-4V8z" />
            </svg>
        </a>
    </div>
</footer>