<nav class="navbar">
    <div class="nav-links">
        <a href="/" class="nav-button">Profil</a>
        <a href="/projekter" class="nav-button">Projekter</a>
        <a href="/kontakt" class="nav-button">Kontakt</a>
    </div>
</nav>
