@using CV.Interfaces
@using CV.Models
@using Microsoft.JSInterop
@inject IImportDataFromJsonService ImportDataService
@inject IJSRuntime JS

@page "/"

<button class="download-pdf-btn" @onclick="DownloadPdf">Download som PDF</button>
<div class="profil-layout">

	<div class="profil-billeder">
		<img src="images/FrederikBillede.png" alt="Frederik Hedelund" class="profil-img" />
		<img src="images/FrederikBilledeSoldat.png" alt="Frederik Hedelund - Soldat" class="profil-img" />
	</div>

	<div class="profil-tekst">
		<h2>@profil?.Navn</h2>
		<h3>@profil?.Kontakt.Telefon</h3>
		<h3>@profil?.Kontakt.Email</h3>
		<br />
		<h3 style="font-weight: 500;">@profil?.ProfilTekst</h3>
	</div>
	
	<div class="left-side-section">
		<CV.Components.ErfaringerComponent Profil="profil" />

		<CV.Components.UddannelserComponent Profil="profil" />

		<CV.Components.ProjectComponent Profil="profil" />
	</div>
	<div class="right-side-section">
		<CV.Components.TechnicalSkillsComponent Profil="profil" />

		<CV.Components.SkillsComponent Profil="profil" />

		<CV.Components.DistinctionsComponent Profil="profil" />

		<CV.Components.LanguagesComponent Profil="profil" />
	</div>
</div>


@code {
	private Profil? profil;

	protected override async Task OnInitializedAsync()
	{
		profil = await ImportDataService.GetCVAsync();
	}

	private async Task DownloadPdf()
	{
		var name = profil?.Navn?.Replace(" ", "_") ?? "CV";
		var fileName = $"CV_{name}_{DateTime.UtcNow:yyyy-MM}.pdf";
		await JS.InvokeVoidAsync("cv.print", fileName);
	}
}