@page "/"


<div class="profil-layout">
	<div class="left-side-section">
		<CV.Components.ErfaringerComponent />

		<CV.Components.UddannelserComponent />
	</div>
	<div class="right-side-section">
		
	</div>
</div>


@code {

}